* {
    box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	font-family: 'Indie Flower', cursive;
	/*display: flex;*/
	/*flex-direction: column;*/
	background-image: url("../images/placeholder.jpg");
}

.remove-background-image-fade-in {
	background-image: none;
    opacity: 1;
    transition: 1s opacity;
}

.remove-background-image-fade-in.fade-out {
	opacity: 0;
    transition: none;
}

#searchContainer {
	width: 80%;
	height: 70%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/*margin: 0 auto;*/
	margin: auto;
	/*transition: 1s;*/
	/*visibility: visible;*/
	/*position: absolute;*/
	background-color: #fff;
}

#addressSearch {
	width: 55%;
}

#searchContainer h1 {
	text-align: center;
	font-size: 100px;
	font-weight: bold;
	margin-bottom: 20px;
}

#geoBtn {
	margin-top: 10px;
	font-size: 20px;
}

header {
	display: flex;
	justify-content: center;
	height: 50px;
	box-shadow: 0 0 5px;
	/*transition: .1s;*/
	/*opacity: 0;*/
	background-color: #29b6f6;
}

/*assume new page*/
#headerContainer {
	display: inline-flex;
	width: 960px;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	/*transition: .2s;*/
	/*opacity: 0;*/
}

#logo {
	margin: 10px;
	font-size: 50px;
	cursor: pointer;
}

#addressDisplay {
	margin: 10px;
	font-size: 25px;
}

#mainContainer {
	width: 900px;
	margin: 0 auto;
	/*transition: 2s;*/
	/*opacity: 0;*/
	/*visibility: hidden;*/
}

#map {
	margin-top: 10px;
	height: 435px;
}

#filter-results {
	margin-top: 10px;
}

i {
	margin-left: 0;
}

#modal1 {
	height: 60%;
}

#logo:hover {
	cursor: pointer;
}

.img-results {
	height: 40px;
}