* {
    box-sizing: border-box;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

html, body {
	height: 100%;
}

body {
	font-family: 'Indie Flower', cursive;
	background-image: url("../images/dogpark.jpg");
	background-size: 100% 100%;
}

#searchPageContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	transition: 1s;
	visibility: visible;
	opacity: 1;
}

#searchContainer {
	width: 75%;
	height: 70%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto;
	/*transition: 1s;*/
	/*visibility: visible;*/
	/*position: absolute;*/
	background-color: #fff;
	border-radius: 10px;
}

#addressSearch {
	width: 80%;
}

#searchContainer h1 {
	text-align: center;
	font-size: 100px;
	font-weight: bold;
	margin-bottom: 20px;
}

#geoBtn {
	margin-top: 20px;
	font-size: 20px;
}

header {
	display: flex;
	justify-content: center;
	height: 60px;
	box-shadow: 0 0 5px;
	/*transition: .1s;*/
	/*opacity: 0;*/
	background-color: #29b6f6;
}

/*assume new page*/
#headerContainer {
	display: flex;
	width: 960px;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	/*transition: .2s;*/
	/*opacity: 0;*/
}

/*#radiusDisplay {
	justify-content: flex;
}*/

#logo {
	margin: 10px;
	font-size: 45px;
	cursor: pointer;
}


#addressDisplay {
	margin: 10px;
	font-size: 25px;
}

#mainContainer {
	width: 900px;
	margin: 0 auto;
	/*transition: 2s;*/
	/*opacity: 0;*/
	/*visibility: hidden;*/
}

#map {
	margin-top: 30px;
	height: 435px;
}

#filter-results {
	margin-top: 30px;
	width: 65%;
}

i {
	margin-left: 0;
}

#btnRow {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
	padding-top: 1px;
}

#logo:hover {
	cursor: pointer;
}

#radDiv {
	margin-top: 30px;
	height: 100%;
}
