* {
    box-sizing: border-box;
}

body {
	font-family: 'Indie Flower', cursive;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

#addressSearch {
	width: 50%;
}

footer {
	transition: 1s;
	opacity: 0;
}

#searchContainer {
	visibility: visible;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	flex-direction: column;
	transition: 1s;
	position: absolute;
}

#searchContainer h1 {
	text-align: center;
	font-size: 100px;
	font-weight: bold;
	margin-bottom: 20px;
}

#address-input {
	width: 500px;
	height: 50px;
	font-size: 20px;
}

#geoBtn {
	margin-top: 10px;
	font-size: 20px;
	margin-bottom: 200px;
}

header {
	display: flex;
	justify-content: center;
	height: 50px;
	box-shadow: 0 0 0px;
	transition: 1s;
	opacity: 0;
	background-color: #29b6f6;
	transition: 1s;
}

/*assume new page*/
#headerContainer {
	display: inline-flex;
	width: 960px;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	transition: 1s;
	opacity: 0;
}

#logo {
	margin: 10px;
	font-size: 50px;
}

#addressDisplay {
	margin: 10px;
	font-size: 25px;
}

#mainContainer {
	width: 900px;
	margin: 0 auto;
	transition: 1s;
	opacity: 0;
	visibility: hidden;
}

#map {
	margin-top: 10px;
	height: 435px;
}

#filter-results {
	margin-top: 10px;
	/*padding-top: 20px;*/
}

i {
	margin-left: 0;
}

tr {
	border-bottom: 2px solid gray;
}

.dirBtn {
	padding: 0 10px;
}

#modal1 {
	height: 100%;
}

#logo:hover {
	cursor: pointer;
}