#geoBtn, #searchBtn, #dirBtn, #addLocBtn, #shakeBtn, #venueTypeBtn, #radiusBtn {
	text-transform: lowercase;
	padding: 0 15px;
	background-color: #29b6f6;
	font-size: 20px;
}

#venueTypeBtn {
	padding: 0;
	text-align: center;
	width: 70px;
	height: 70px;
}

i.right {
	margin-left: 5px;
	font-size: 26px;
}

i.left {
	margin-right: 5px;
}

#geoBtn {
	background-color: red;
	margin-bottom: 0;
}

#addLocBtn {
	margin-top: 20px;
	margin-left: 75px;
}

#dirBtn {
	padding: 0 10px;
}

#searchBtn, #shakeBtn, #dirBtn {
	background-color: red;
}

#shakeBtn {
	padding: 0 10px;
}

#radiusBtn {
	background-color: red;
}

#searchBtn {
	min-width: 130px;
}

.addVenueText {
	font-size: 20px;
	margin-bottom: 30px;
}

.dropdown-content {
	min-width: 0;
	width: 100%;
	top: 100%;
    position: absolute;
    left: 0;
}

.dropdown-content li {
	text-align: center;
	border-bottom: 1px solid black;
	line-height: 50px;
}

.dropdown-container {
	position: relative;
    display: inline-block;
}

#radiusBtn {
	background-color: #80cdf1;
}

.dropdown-item-radius {
	background-color: #80cdf1;
}

input:not([type]):focus:not([readonly])+label, input[type=text]:focus:not([readonly])+label, input[type=password]:focus:not([readonly])+label, input[type=email]:focus:not([readonly])+label, input[type=url]:focus:not([readonly])+label, input[type=time]:focus:not([readonly])+label, input[type=date]:focus:not([readonly])+label, input[type=datetime]:focus:not([readonly])+label, input[type=datetime-local]:focus:not([readonly])+label, input[type=tel]:focus:not([readonly])+label, input[type=number]:focus:not([readonly])+label, input[type=search]:focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label {
	color: #000;
}

.input-field .prefix.active {
	color: #29b6f6;
	/*color: red;*/
}

input[type=text]:focus:not([readonly]) {
	border-bottom: 1px solid black;
	box-shadow: none;
}

.page-footer {
	font-size: 20px;
	background-color: #29b6f6;
	color: #000;
	text-align: center;
	padding: 0;
	line-height: 50px;
	/*transition: 1s;*/
	/*opacity: 0;*/
	margin-top: auto;
}

.results-page {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	visibility: hidden;
	opacity: 0;
	transition: 1s;
}

.hidden{
	display: none;
}

.switch {
	width: 45%;
	font-size: 20px;
	margin-bottom: 50px;
}

.lever {
	float: right;
}

.switch label {
	color: #000;
}

.switch label .lever {
	/*margin-top: 3px;*/
	margin: 7px 0 0 0;
}

.switch label input[type=checkbox]:checked+.lever:after {
	background-color: #29b6f6
}

.switch label input[type=checkbox]:checked+.lever {
	background-color: #80cdf1;
	margin-top: 7px;
}

tr, td {
	color: #000;
	font-size: 16px;
}

tr {
	border-bottom: 2px solid gray;
}

.img-results {
	height: 40px;
}

.result-row-styling {
	font-family: "Helvetica", sans-serif;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	text-transform: lowercase;
}

.result-row-styling img {
	max-height: 100%;
}

.result-row-styling > div {
	height: 100px;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	overflow: wrap;
	flex-direction: column;
}

.result-icon {
	/*width: 10%;*/
	flex: 1;
}

.result-image {
	/*width: 10%;*/
	flex: 1;
}

.result-name {
	/*width: 30%;*/
	flex: 2;
}

.result-address {
	/*width: 25%;*/
	flex: 2;
}

.result-btn {
	/*width: 25%;*/
	flex: 2;
	font-family: 'Indie Flower', cursive;
}







