#searchBtn {
	text-transform: lowercase;
	background-color: #29b6f6;
}

#geoBtn {
	text-transform: lowercase;
	padding: 0 15px;
	background-color: #29b6f6;
}

input:not([type]):focus:not([readonly])+label, input[type=text]:focus:not([readonly])+label, input[type=password]:focus:not([readonly])+label, input[type=email]:focus:not([readonly])+label, input[type=url]:focus:not([readonly])+label, input[type=time]:focus:not([readonly])+label, input[type=date]:focus:not([readonly])+label, input[type=datetime]:focus:not([readonly])+label, input[type=datetime-local]:focus:not([readonly])+label, input[type=tel]:focus:not([readonly])+label, input[type=number]:focus:not([readonly])+label, input[type=search]:focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label {
	color: #000;
}

.input-field .prefix.active {
	color: #29b6f6;
}

input[type=text]:focus:not([readonly]) {
	border-bottom: 1px solid black;
	box-shadow: none;
}

.page-footer {
	background-color: #29b6f6;
	color: #fff;
	text-align: center;
	padding: 0;
	line-height: 60px;
}

.switch {
	width: 30%;
	font-size: 20px;
	margin-bottom: 30px;
}

.lever {
	float: right;
}

.switch label .lever {
	margin-top: 3px;
}

.switch label .lever:after {
	background-color: #fff;
}

.switch label input[type=checkbox]:checked+.lever:after {
	background-color: #29b6f6
}

.switch label input[type=checkbox]:checked+.lever {
	background-color: #80cdf1;
}














