#geoBtn, #searchBtn, #dirBtn, #addLocBtn, #shakeBtn, #venueTypeBtn {
	text-transform: lowercase;
	padding: 0 15px;
	background-color: #29b6f6;
	font-size: 20px;
}

#geoBtn {
	margin-bottom: 0;
}

#addLocBtn {
	margin-top: 10px;
}

#searchBtn, #shakeBtn, #dirBtn {
	background-color: red;
}

#shakeBtn {
	padding: 0 30px;
}

.addVenueText {
	font-size: 16px;
}

.dropdown-content li {
	text-align: center;
	border-bottom: 1px solid black;
	line-height: 50px;
}

input:not([type]):focus:not([readonly])+label, input[type=text]:focus:not([readonly])+label, input[type=password]:focus:not([readonly])+label, input[type=email]:focus:not([readonly])+label, input[type=url]:focus:not([readonly])+label, input[type=time]:focus:not([readonly])+label, input[type=date]:focus:not([readonly])+label, input[type=datetime]:focus:not([readonly])+label, input[type=datetime-local]:focus:not([readonly])+label, input[type=tel]:focus:not([readonly])+label, input[type=number]:focus:not([readonly])+label, input[type=search]:focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label {
	color: #000;
}

.input-field .prefix.active {
	color: #29b6f6;
}

input[type=text]:focus:not([readonly]) {
	border-bottom: 1px solid black;
	box-shadow: none;
}

.page-footer {
	font-size: 20px;
	background-color: #29b6f6;
	color: #000;
	text-align: center;
	padding: 0;
	line-height: 60px;
	transition: 1s;
	opacity: 0;
}

.switch {
	width: 30%;
	font-size: 20px;
	margin-bottom: 30px;
}

.lever {
	float: right;
}

.switch label {
	color: #000;
}

.switch label .lever {
	margin-top: 3px;
}

.switch label input[type=checkbox]:checked+.lever:after {
	background-color: #29b6f6
}

.switch label input[type=checkbox]:checked+.lever {
	background-color: #80cdf1;
}

tr, td {
	color: #000;
	font-size: 16px;
}








